.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  min-width: 250px;
  height: 100%;
  padding: 0;
  background: #ffffff;
  z-index: 1000;
  
}

.logo {
  display: block;
  margin: 10px 0;
  height: 50px;
  align-items: flex-start;
}

.logo img {
  height: 70px;
  max-width: 100%;
  object-fit: contain; /* optional, but can help in some layouts */
}

.nav-links {
  list-style: none;
  display: flex;
  font-size: 1.5rem;
  font-style: italic;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0 0 8.5rem;
  text-align: left;
}

.nav-links > li {
  margin-top: 0;
  margin-bottom: 0;
}

.nav-links a {
  color: #000000;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: none;
  color: lightgray;
}

main {
  margin-left: 250px;
  padding: 1rem;
}
